<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <p>
          <a href="mailto:mohammadmahdi76@gmail.com" target="_top" title="E-Mail"><i class="fas fa-envelope-square fa-2x"></i></a>&nbsp;
          <a href="https://github.com/mahi97" title="@mahi97 on Github"><i class="fab fa-github-square fa-2x"></i></a>&nbsp;
          <a href="https://www.linkedin.com/in/mahi97/" title="Mahi Rahimi on LinkedIn"><i class="fab fa-linkedin fa-2x"></i></a>&nbsp;
          <a href="skype:live:mm.rahimi?add" title="Mahi Rahimi on Skype"><i class="fab fa-skype fa-2x"></i></a>&nbsp;
          <a href="https://www.instagram.com/__.mahi.__/" title="@__.mahi.__ on instagram"><i class="fab fa-instagram fa-2x"></i></a>&nbsp;
    </p>

    <p>&copy; {{ site.time | date: '%Y' }}. <a href="{{ site.baseurl}}license/">All rights reserved</a>.</p>
  </div>
</div>
